---
title: Test
layout: template-logo-large
testarray:
 - one
 - two
 - three
---

<h1>No containter.</h1>

<h2>Test></h2>

<h3>Test></h3>

<p>Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.</p>

<div class="medium" markdown="0">

    <h1>Medium containter.</h1>

    <h2>Medium containter></h2>

    <h3>Medium containter></h3>

    <p>
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
    </p>

</div>

<div class="big" markdown="0">

    <h1>Big containter.</h1>

    <h2>Big containter.</h2>

    <h3>Big containter.</h3>

    <p>
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
    </p>

</div>

<div class="small" markdown="0">

    <h1>Small containter.</h1>

    <h2>Small containter></h2>

    <h3>Small containter></h3>

    <p>
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
        Audax torquis acceleratrix resuscitabos fiscina est. Bassus axona inciviliter gratias habena est.
    </p>

</div>


<%= page_group %>

<hr/>

<%= current_page.data.inspect %>

<hr/>

<%= current_page.path.inspect %>

<hr/>

<%= current_page.parent.inspect %>

<%= current_page.children.inspect %>

<%= current_page.siblings.inspect %>

<hr/>

<% pages = related_pages %>
<ul>
<% pages.each do |p| %>
    <li>URL: <%= p.url %>
        <ul>
            <li>path: <%= p.path %></li>
            <li>destination_path: <%= p.destination_path %></li>
            <li>request_path: <%= p.request_path %></li>
            <li>source_file: <%= p.source_file %></li>
            <li>page_group: <%= File.basename(File.split(p.source_file)[0]) %></li>
        </ul>
<% end %>
</ul>


<hr/>

<% pages = current_group_pages %>
<ul>
<% pages.each do |p| %>
    <li>URL: <%= p.url %>
        <ul>
            <li>path: <%= p.path %></li>
            <li>destination_path: <%= p.destination_path %></li>
            <li>request_path: <%= p.request_path %></li>
            <li>source_file: <%= p.source_file %></li>
            <li>page_group: <%= File.basename(File.split(p.source_file)[0]) %></li>
        </ul>
<% end %>
</ul>



<hr/>
